.convert{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.formconvert{
    display: flex;
    position: relative;
    top: 3%;
    /* justify-content:top; */
    align-items: center;
    flex-direction: column;
}
.out{
    margin: 10px;
    align-items: center;
}
.conversionform{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.uploadingbtn{
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uploadbtn{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 10%;
}
.convertout{

}
.simplified{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sendingArea, .textingArea{
    border-radius: 20px;
    border: none;
    box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}
.sendingArea{
    background-color: #D9D9D9;
}
.textingArea{
    background-color: rgba(66, 133, 244, 0.28);
}
.newstext{
    margin: 5px;
}